

div {
  /*font-size: 12pt;*/
}


html {
  
}
body {
  background-color: #fafafa;
  margin: 0px;
  overflow: hidden;
  
}


.card-panel.aile-panel {
  padding: 10px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 8px;
}
.aile-isim {
  margin-bottom: 5px;
}
.row.aile-row {
  margin-bottom: 10px;
}
.card-panel.aile-bakteri {
  display: grid;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.card-panel.aile-bakteri-text {
  
}

.bakteri-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 95%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  display: flex;
}
.bakteri-content-row {
  width: 32%;
  height: 100%;
  margin-right: 10px;
}

.card-panel.textCard {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.bakteri-content > .card-panel.infoCard {
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}
.card-panel.infoCard {
  padding: 5px;
  padding-left: 10px;
}

.card-panel.filter-category {
  width: 55%;
  margin-left: 20px;
  height: 100%;
}
.filterCategoryContainer {
  width: 100%;
  height: 42%;/*47.5*/
  padding-top: 20px;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  display: -webkit-inline-box;
}
.filterCategoryIndex {
  margin-top: 20px;
  /*font-size: 20pt;*/
}
.filterElemanContainer {
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.input-field.card-panel {
  padding-top: 4px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  
}
.image-container {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 90vh;
  -webkit-overflow-scrolling: touch;
}
.circle {
    width: 20px;
    height: 20px;
    background: #d32f2f;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 55%;
    display: none;
}
.subtur {
  font-size: 12;
}
#titleText {
  font-size:20pt;
}

#searchBakteri {
  font-size: 20pt;
  height: 30pt;
  margin-bottom: 10px;
}

#smallPanel {
  position: fixed;
  top: 15%;
  width: 90%;
  left: 5%;
  z-index: 100;
  display: none;
}
#bottomPanel {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 100%;
  height: 100%;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  margin: 0;
  overflow: hidden;
  padding-top: 0px;
  will-change: top;
  /*display: none;*/
  
}
#bakteriPaneli {
  
}
#bakteriPaneliContainer {
  height: 92%;
  width: 30%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}


#leftPanel {
  position: fixed;
  width: 50%;
  padding: 24px;
  top: 8%;
  left: 30%;
  height: 92%;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  margin: 0;
  overflow: hidden;
  will-change: left;
}

#leftPanelBack {
  position: absolute;
  left: 0;
  top: 0.5%;
  padding-top: 2%;
  padding-left: 92%;
  width: 100%;
  padding-right: 0;
  height: 5vh;
  display: none;
}
#bottomPanelButton {
  position: fixed;
  z-index: 11;
  font-size: 30pt;
  padding-top: 1vh;
  height: 4%;
  width: 25%;
  top: 95%;
  left: 37.5%;
}
#bottomPanelClear {
  position: fixed;
  z-index: 11;
  font-size: 30pt;
  padding-top: 1vh;
  height: 4%;
  width: 25%;
  top: 95%;
  left: 10%;
  display: none;
}
#bottomPanelCount {
  position: fixed;
  z-index: 11;
  font-size: 30pt;
  padding-top: 0.4vh;
  height: 4%;
  width: 25%;
  top: 95%;
  left: 65%;
  text-align: center;
  display: none;
}

#invisiblePanel {
  position: fixed;
  left: -150vw;
  display: none;
}
#topMenu {
  height: 8%;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: -8px;
}
#rightPanel > span > strong {/*menu*/
  font-size: 40pt;
}
#rightPanel > span {
  margin-right: 30px; 
  right: 0px; 
  margin-top: 20px; 
  position: absolute;
}
#rightPanel {
  position: fixed;
  z-index: 19;
  width: 50%;
  padding: 20px;
  top: -8px;
  left: 100%;
  height: 108%;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  margin: 0;
  overflow: hidden;
  will-change: left;
  display: none;
}
#rightPanelContents {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 1.5vh;
  height: 100%;
}
#topMenuMenu {
  position: absolute;
  right: 5%;
  margin-top: 6px;
}
#topMenuHolder {
  height: 8%;
  width: 100%;
}


